body,
html{
    margin: 0px;
    min-height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(79, 80, 82);
}

div.number{
    font-size: 3rem;
    border: 5px solid coral;
    border-radius: 7px;
    box-shadow: 8px 8px 20px 1px coral;
    padding: 20px;
    text-align: center;
}